@using FitnessSimulation.Models
@using FitnessSimulation.ViewModels.CategoryViewModel

@model CategoryUpdateVM
<div class="container mt-4">

    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Name">Fullname</label>
                    <input asp-for="Name" placeholder="Enter Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>